<section class="about" id="about">
    <div class="wrapper flex space-between">
        <div class="about-text">
            <h2>about</h2>
            <p>I'm a Web Developer based out of Toronto, Canada with professional experience in development, design
                and marketing.</p>
            <br>
            <p>I enjoy working on projects from concept to final product.</p>
        </div>
        <div class="about-img">
            <img src="/assets/profile-line-art.svg" alt="">
            <span>illustration by <a target="_blank" href="http://maregine.com">Maria Regine</a></span>
        </div>
    </div>
</section>