<footer class="contact" id="contact">
    <div class="contactContainer wrapper flex">
        <div class="subHeading">
            <h2>contact<br>me</h2>
        </div>
        <div class="contactInfo">
            <h3>email:</h3>
            <p>shan.draper@gmail.com</p>

            <h3>linkedin:</h3>
            <p>
                <a target="_blank" href="https://www.linkedin.com/in/shannondraper/">linked.in/in/shannondraper</a>
            </p>
        </div>
    </div>
    <img src="/assets/speech-bubble.png" alt="speech bubble">
</footer>
<div class="copyright">
    <p>Shannon Draper 2021 &copy;</p>
</div>