<section class="projects" id="projects">
    <div class="wrapper">
        <h2>portfolio</h2>
        <div class="projectExamples">
            <article>
                <a href="https://filtergram-62c8d.firebaseapp.com/" target="_new">
                    <img src="/assets/filterApp.png" alt="Screenshot of React Application">
                </a>
                <div>
                    <h3>Filtergram React.js App</h3>
                    <p>A photo editing application created with React.js and Firebase. The app allows the user
                        to upload a photo of their choice and alter it using CSS filters.</p>
                    <h5>Made with: HTML / CSS / React.js</h5>
                    <a class="project-link" href="https://filtergram-62c8d.firebaseapp.com/" target="_new">Demo</a>
                    <a class="project-link" href="https://github.com/shannondraper/ReactApp" target="_new">Github</a>
                </div>
            </article>
            <article>
                <a href="/mojo" target="_new">
                    <img src="/assets/psdConversion.png" alt="Screenshot of PSD conversion site">
                </a>
                <div>
                    <h3>PSD to HTML Conversion</h3>
                    <p>Converted a single page PSD file to a fully responsive website.</p>
                    <h5>Made with: HTML / CSS / Photoshop</h5>
                    <a class="project-link" href="/mojo" target="_new">Demo</a>
                    <a class="project-link" href="https://github.com/shannondraper/TotalEclipseOfTheHeart"
                        target="_new">Github</a>
                </div>
            </article>
            <article>
                <a href="/totaleclipseoftheheart" target="_new"><img src="/assets/totalEclipse.png" alt=""></a>
                <div>
                    <h3>Total Eclipse of the Heart JS Game</h3>
                    <p>A Javascript / jQuery quiz based on Bonnie Tyler's hit song, 'Total Eclipse of the
                        Heart'.</p>
                    <h5>Made with: HTML / CSS / Javascript & jQuery</h5>
                    <a class="project-link" href="/totalEclipseOfTheHeart/" target="_new">Demo</a>
                    <a class="project-link" href="https://github.com/shannondraper/TotalEclipseOfTheHeart"
                        target="_new">Github</a>
                </div>
            </article>
        </div>
    </div><!-- closes portfolioContainer-->
</section>