<section class="skills" id="skills">
    <div class="wrapper">
        <div class="skillsContainer flex space-between">
            <h2>
                skills
                <br>+<br>
                stack
            </h2>
            <img class="trend-arrow" src="/assets/trend-arrow.png" alt="">
            <div class="skills-lists flex space-between">

                <div class="skills-list">
                    <h3>development</h3>
                    <ul>
                        <li>HTML</li>
                        <li>CSS (SASS, LESS)</li>
                        <li>Javascript / jQuery</li>
                        <li>GatsbyJS (React)</li>
                        <li>Gulp / Grunt</li>
                        <li>Git / Github</li>
                        <li>REST API</li>
                        <li>Accessibility Compliance</li>
                        <li>Responsive Design</li>
                    </ul>
                </div>

                <div class="skills-list">
                    <h3>design</h3>
                    <ul class="skills-design">
                        <li>Adobe Illustrator</li>
                        <li>Adobe Photoshop</li>
                        <li>Adobe InDesign</li>
                    </ul>
                </div>

                <div class="skills-list">
                    <h3>marketing</h3>
                    <ul class="skills-marketing">
                        <li>Google Analytics</li>
                        <li>Google Optimize</li>
                        <li>Hubspot CRM</li>
                        <li>Crazyegg</li>
                        <li>Optimonster</li>
                        <li>Jira</li>
                        <li>A/B Testing</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>