$darkGrey: #303030;
$lightGrey: #bcbcbc;

h1 {
	color: $darkGrey;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-weight: 200;
}
h2 {
	color: $darkGrey;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-weight: 500;
}
h3 {
	color: $darkGrey;
	font-family: 'Poppins', sans-serif;
}
p {
	color: $lightGrey;
	font-family: 'Poppins', sans-serif;
}