
@font-face { 
	font-family: WichitaRegular;
	src: url('../../fonts/WichitaRegular.woff') format("woff");
}
@font-face { 
	font-family: GeorgiaBoldItalic;
	src: url('../../fonts/GeorgiaBoldItalic.ttf') format("truetype");
}
@import './partials/colors';
@import './partials/setup';
@import './partials/typography';
@import './partials/header';
@import './partials/about';
@import './partials/skills';
@import './partials/portfolio';


// GENERAL STYLING ////////////////////////////
* {
	transition: 0.3s all ease;
}
html {
	font-size: 14px;
}
header,
section,
footer {
	margin : 12px;
}
a {
	text-decoration: none;
	color: $darkGrey;
	&:focus {
		outline        : 3px dotted red;
		outline-offset : 5px;
	}
}
img {
	max-width: 100%;
}
.wrapper {
	width: 90%;
	max-width: 1000px;
	margin: 0 auto;
}
section {
	padding: 50px 0;
}
ul {
	list-style-type: none;
	margin: 0;
}

.flex {
	display : flex;
}
.space-between {
	justify-content : space-between;
}

// CONTACT SECTION ////////////////////////////
.contact {
	position: relative;
	.subHeading {
		width: 60%;
	}
	background: $navy;
	h2 {
		color: $pink;
	}
	h3 {
		color     : $paleBlue;
		margin    : 10px 0;
		font-size : 24px;
		&:nth-of-type(2) {
			margin-top: 40px;
		}
	}
	p,
	a {
		color: white;
	}
	a {
		text-decoration: underline;
	}
	img {
		position : absolute;
		right    : 150px;
		top      : 90px;
		width    : 200px;
	}
}
.contactContainer {
	padding : 150px 0;
	align-items: center;
}

.copyright {
	padding : 0 10px 10px 10px;
}
.rotate-animation {
	animation: rotate 100s linear infinite; 
}
@keyframes rotate {
	to { transform: rotate(360deg); }
}