
@font-face { 
	font-family: WichitaRegular;
	src: url('../../fonts/WichitaRegular.woff') format("woff");
}
@font-face { 
	font-family: WichitaOutline;
	src: url('../../fonts/WichitaOutline.woff') format("woff");
}
@import './partials/setup';
@import './partials/typography';
@import './partials/header';
@import './partials/about';
@import './partials/skills';
@import './partials/portfolio';


// GENERAL STYLING ////////////////////////////
* {
	transition: 0.3s all ease;
}
html {
	font-size: 14px;
}
a {
	text-decoration: none;
	color: $darkGrey;
	&:focus {
		outline        : 3px dotted red;
		outline-offset : 5px;
	}
}
img {
	max-width: 100%;
}
.wrapper {
	width: 90%;
	max-width: 1000px;
	margin: 0 auto;
}
section {
	padding: 100px 0;
}
ul {
	list-style-type: none;
	margin: 0;
}

.subHeading {
	max-width  : 770px;
	margin     : 0 auto;
	text-align : center;
}


.flex {
	display : flex;
}
.space-between {
	justify-content : space-between;
}

// CONTACT SECTION ////////////////////////////
.contactContainer {
	padding : 100px 0;
}

.copyright {
	padding : 20px;
	color   : #333;
}
.rotate-animation {
	animation: rotate 100s linear infinite; 
}
@keyframes rotate {
	to { transform: rotate(360deg); }
}