.about {
	height   : 100vh;
	position : relative;
	.decoration-diamond {
		left   : -40px;
		bottom : 0;
		width  : 300px;
		height : 300px;
	}
}
.about .wrapper {
	padding : 100px 0;
}
.about-text {
	width : 40%;
	h2 {
		position : relative;
		&::after {
			position : absolute;
			content  : url('/public/assets/decorations/outline-about.svg');
			width    : 700px;
			left     : -200px;
			top      : -100px;
		}
	}
}
.about-img {
	width       : 30%;
	align-items : center;
	filter      : saturate(0);
}
