$pink      : #F5D7DD;
$darkPink  : #FFA195;
$magenta   : #F66672;
$navy      : #1D184F;
$cerulean  : #4660BF;
$paleBlue  : #6D99F5;
$darkGrey  : #212121;
$lightGrey : #7c7c7c;
$purple    : #ADA3CE;
$green     : #3BA590;
$offWhite  : #f0f1f3;