.projects {
	background : $paleBlue;
	padding    : 120px 0 150px 0;
	h2 {
		color         : $navy;
		text-align    : center;
		margin-bottom : 50px;
	}
	.made-with {
		padding: 10px 0;
	}
}
.projectExamples {
	display         : flex;
	flex-wrap       : wrap;
	justify-content : space-around;
	article {
		display        : flex;
		flex-direction : column;
		width          : 48%;
		margin-bottom  : 2%;
		img {
			width : 100%;
			&:hover {
				cursor : pointer;
			}	
		}
		ul {
			padding-left : 0;
			li {
				padding : 2px 0 0 10px;
			}
		}	
	}
	.project-description {
		padding-right : 15px;
	}
	.project-link {
		display         : inline-block;
		padding         : 5px 10px;
		margin-top      : 30px;
		font-size       : 16px;
		text-decoration : underline;
		outline         : 3px dotted transparent;
		text-align      : center;
		&:nth-of-type(1) {
			margin-right : 15px;
		}
		&:hover,
		&:focus {
			outline : 3px dotted white;
		}
	}
	h3 {
		margin     : 25px 0 15px 0;
		font-size  : 20px;
	}
	@media(max-width: $size-lg) {
		justify-content : flex-start;
		article {
			width         : 50%;
			margin-bottom : 5%;
			padding       : 10px;
		}
	}
	@media(max-width: $size-lg) {
		justify-content : flex-start;
		article {
			width         : 50%;
			margin-bottom : 40px;
			padding       : 10px;
		}
	}
	@media(max-width: $size-md) {
		article {
			width : 100%;
		}
		.project-link {
			margin-top   : 15px;
			padding-left : 0;
		}
	}
}
