// // PORTFOLIO SECTION ////////////////////////////
.projects {
	background : $paleBlue;
	padding    : 120px 0 150px 0;
	h2 {
		color         : white;
		text-align    : center;
		margin-bottom : 50px;
	}
}
.projectExamples {
	display         : flex;
	justify-content : space-between;
	flex-wrap       : wrap;

	article {
		display        : flex;
		flex-direction : column;
		width          : 31%;
		margin-bottom  : 50px;
		img {
			width : 100%;
			max-width : 300px;
		}
		ul {
			padding-left : 0;
		}		
		li {
			padding : 2px 0 0 10px;
		}
	}
	.project-link {
		display         : inline-block;
		margin-top      : 10px;
		text-decoration : underline;
		padding         : 10px 10px 10px 0;
		font-size       : 16px;
	}
	h3 {
		margin    : 15px 0 10px 0;
		color     : white;
		font-size : 20px;
	}
}
