.skills {
	position : relative;
	.decoration {
		width: 70%;
		left: -50px;
		top: 0px;
	}
	h2 {
		margin-bottom : 50px;
	}
	h3 {
		margin    : 10px 0 20px 0;
		font-size : 24px;
	}
	.skills-list img {
		width : 35px;
	}
	.skills-list ul {
		padding-left : 0;
	}
	li {
		font-family : 'Work Sans';
		font-size   : 18px;
		padding     : 2px 0;
	}
}