$darkGrey: #212121;
$lightGrey: #7c7c7c;
$purple: #ADA3CE;
$green: #3BA590;


h1 {
	margin: 0;
	color: $darkGrey;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-weight: 200;
}
h2 {
	margin: 0;
	color: $darkGrey;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-weight: 500;
}
h3 {
	margin: 0;
	color: $darkGrey;
	font-family: 'Poppins', sans-serif;
}
h4 {
	margin: 0;
	color: $darkGrey;
	font-family: 'Poppins', sans-serif;
	color: $lightGrey;
}
h5 {
	text-transform: uppercase;
	font-size: 14px;
	margin: 10px 0;
	font-weight: 400;
	color: $lightGrey;
}
p {
	margin: 0;
	color: $lightGrey;
	font-family: 'Poppins', sans-serif;
}
