@font-face {
  font-family: WichitaRegular;
  src: url("../../fonts/WichitaRegular.woff") format("woff"); }

@font-face {
  font-family: GeorgiaBoldItalic;
  src: url("../../fonts/GeorgiaBoldItalic.ttf") format("truetype"); }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

h1 {
  margin: 0;
  color: #FFA195;
  font-family: GeorgiaBoldItalic;
  font-weight: 200;
  font-size: 75px; }
  h1.outline {
    font-size: 62px; }

h2 {
  margin: 0;
  color: #212121;
  font-family: GeorgiaBoldItalic;
  font-weight: 500;
  font-size: 60px; }

h3 {
  margin: 0;
  color: #212121;
  font-family: GeorgiaBoldItalic; }

h4 {
  margin: 0;
  color: #212121;
  font-family: GeorgiaBoldItalic;
  color: #7c7c7c; }

h5 {
  font-size: 14px;
  margin: 10px 0;
  font-weight: 400;
  color: #212121;
  font-family: 'Work Sans', sans-serif; }

p,
span {
  margin: 0;
  color: #212121;
  font-family: 'Work Sans', sans-serif;
  font-size: 16px; }

.header {
  background: #F5D7DD;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .header h1 {
    text-align: center;
    position: relative;
    display: inline-block;
    width: 500px; }
  .header img {
    width: 100%; }
  .header .path-navy {
    stroke-dasharray: 1500;
    stroke-dashoffset: 1500;
    -webkit-animation: draw-path-navy 2s cubic-bezier(1, 0, 0.84, 0.34) forwards;
            animation: draw-path-navy 2s cubic-bezier(1, 0, 0.84, 0.34) forwards; }
  .header .path-magenta {
    stroke-dasharray: 1500;
    stroke-dashoffset: 1500;
    -webkit-animation: draw-path-magenta 2s cubic-bezier(1, 0, 0.84, 0.34) forwards;
            animation: draw-path-magenta 2s cubic-bezier(1, 0, 0.84, 0.34) forwards; }
  .header .path-pink {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    -webkit-animation: draw-path-pink 2s cubic-bezier(1, 0, 0.84, 0.34) forwards;
            animation: draw-path-pink 2s cubic-bezier(1, 0, 0.84, 0.34) forwards; }
  .header .path-cerulean {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    -webkit-animation: draw-path-cerulean 2s cubic-bezier(1, 0, 0.84, 0.34) forwards;
            animation: draw-path-cerulean 2s cubic-bezier(1, 0, 0.84, 0.34) forwards; }
  .header .delayed-text {
    opacity: 0;
    -webkit-animation: show-delayed-text 2.5s linear forwards;
            animation: show-delayed-text 2.5s linear forwards; }

@-webkit-keyframes show-delayed-text {
  0% {
    opacity: 0; }
  98% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes show-delayed-text {
  0% {
    opacity: 0; }
  98% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes draw-path-navy {
  0% {
    fill: rgba(30, 25, 80, 0); }
  95% {
    fill: rgba(30, 25, 80, 0);
    stroke-dashoffset: 0; }
  100% {
    stroke-dashoffset: 0;
    fill: #1e1950; } }

@keyframes draw-path-navy {
  0% {
    fill: rgba(30, 25, 80, 0); }
  95% {
    fill: rgba(30, 25, 80, 0);
    stroke-dashoffset: 0; }
  100% {
    stroke-dashoffset: 0;
    fill: #1e1950; } }

@-webkit-keyframes draw-path-magenta {
  0% {
    fill: rgba(246, 102, 114, 0); }
  95% {
    fill: rgba(246, 102, 114, 0);
    stroke-dashoffset: 0; }
  100% {
    stroke-dashoffset: 0;
    fill: #f66672; } }

@keyframes draw-path-magenta {
  0% {
    fill: rgba(246, 102, 114, 0); }
  95% {
    fill: rgba(246, 102, 114, 0);
    stroke-dashoffset: 0; }
  100% {
    stroke-dashoffset: 0;
    fill: #f66672; } }

@-webkit-keyframes draw-path-pink {
  0% {
    fill: rgba(237, 166, 185, 0); }
  95% {
    fill: rgba(237, 166, 185, 0);
    stroke-dashoffset: 0; }
  100% {
    stroke-dashoffset: 0;
    fill: #eda6b9; } }

@keyframes draw-path-pink {
  0% {
    fill: rgba(237, 166, 185, 0); }
  95% {
    fill: rgba(237, 166, 185, 0);
    stroke-dashoffset: 0; }
  100% {
    stroke-dashoffset: 0;
    fill: #eda6b9; } }

@-webkit-keyframes draw-path-cerulean {
  0% {
    fill: rgba(109, 153, 245, 0); }
  95% {
    fill: rgba(109, 153, 245, 0);
    stroke-dashoffset: 0; }
  100% {
    stroke-dashoffset: 0;
    fill: #6d99f5; } }

@keyframes draw-path-cerulean {
  0% {
    fill: rgba(109, 153, 245, 0); }
  95% {
    fill: rgba(109, 153, 245, 0);
    stroke-dashoffset: 0; }
  100% {
    stroke-dashoffset: 0;
    fill: #6d99f5; } }

.about {
  background: #FFA195; }

.about .wrapper {
  padding: 100px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.about-text {
  width: 30%; }
  .about-text h2 {
    margin-bottom: 15px;
    color: #1D184F; }

.about-img {
  width: 30%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  mix-blend-mode: multiply;
  margin-right: 70px; }
  .about-img span {
    text-align: right;
    display: block;
    font-size: 14px; }
  .about-img a {
    text-decoration: underline;
    text-align: right; }

.skills {
  background: #1D184F;
  padding: 240px 0; }
  .skills .skillsContainer {
    position: relative; }
  .skills h2 {
    margin-bottom: 50px;
    color: #F5D7DD;
    line-height: 0.9; }
  .skills .trend-arrow {
    position: absolute;
    max-width: 280px;
    left: 20px;
    bottom: -20px; }
  .skills h3 {
    margin: 10px 0 20px 0;
    font-size: 24px;
    color: #F5D7DD; }
  .skills .skills-lists {
    width: 60%; }
  .skills .skills-list img {
    width: 35px; }
  .skills .skills-list ul {
    padding-left: 0; }
  .skills li {
    font-family: 'Work Sans';
    font-size: 16px;
    padding: 2px 0;
    color: white; }

.projects {
  background: #F5D7DD;
  padding: 150px; }
  .projects h2 {
    color: #4660BF;
    text-align: center; }

.projectExamples {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .projectExamples article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 30%;
    margin-top: 80px; }
  .projectExamples .project-link {
    font-family: 'Work Sans';
    font-weight: 600;
    text-decoration: underline;
    padding: 10px 10px 10px 0;
    font-size: 16px; }
  .projectExamples img {
    margin-bottom: 30px;
    border: 1px solid #dad8d8; }
  .projectExamples h3 {
    margin-bottom: 10px;
    color: #4660BF;
    font-size: 20px; }

* {
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease; }

html {
  font-size: 14px; }

header,
section,
footer {
  margin: 12px; }

a {
  text-decoration: none;
  color: #212121; }
  a:focus {
    outline: 3px dotted red;
    outline-offset: 5px; }

img {
  max-width: 100%; }

.wrapper {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto; }

section {
  padding: 50px 0; }

ul {
  list-style-type: none;
  margin: 0; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.text-center {
  text-align: center; }

.contact {
  position: relative;
  background: #1D184F; }
  .contact .subHeading {
    width: 60%; }
  .contact h2 {
    color: #F5D7DD; }
  .contact h3 {
    color: #6D99F5;
    margin: 10px 0;
    font-size: 24px; }
    .contact h3:nth-of-type(2) {
      margin-top: 40px; }
  .contact p,
  .contact a {
    color: white; }
  .contact a {
    text-decoration: underline; }
  .contact img {
    position: absolute;
    right: 150px;
    top: 90px;
    width: 200px; }

.contactContainer {
  padding: 150px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.copyright {
  padding: 0 10px 10px 10px; }

.rotate-animation {
  -webkit-animation: rotate 100s linear infinite;
          animation: rotate 100s linear infinite; }

@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
