@font-face {
  font-family: WichitaRegular;
  src: url("../fonts/WichitaRegular.woff") format("woff"); }

@font-face {
  font-family: GeorgiaBoldItalic;
  src: url("../fonts/GeorgiaBoldItalic.ttf") format("truetype"); }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

h1 {
  margin: 0;
  color: #FFA195;
  font-family: GeorgiaBoldItalic;
  font-weight: 200;
  font-size: 75px; }
  h1.outline {
    font-size: 62px; }

h2 {
  margin: 0;
  color: #212121;
  font-family: GeorgiaBoldItalic;
  font-weight: 500;
  font-size: 60px; }

h3 {
  margin: 0;
  color: #212121;
  font-family: GeorgiaBoldItalic; }

h4 {
  margin: 0;
  color: #212121;
  font-family: GeorgiaBoldItalic;
  color: #7c7c7c; }

h5 {
  font-size: 14px;
  margin: 10px 0;
  font-weight: 400;
  color: #212121;
  font-family: 'Work Sans', sans-serif; }

p,
span,
ul {
  margin: 0;
  color: #212121;
  font-family: 'Work Sans', sans-serif;
  font-size: 16px; }

@media (max-width: 500px) {
  h2 {
    font-size: 50px; } }

.header {
  background: #F5D7DD;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .header h1 {
    text-align: center;
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 500px; }
  .header .sub-header {
    text-transform: uppercase;
    font-weight: 400;
    color: #212121;
    font-family: 'Work Sans', sans-serif;
    position: absolute;
    display: inline-block;
    top: 44%;
    right: 4%;
    text-align: center;
    font-size: 19px;
    width: 310px;
    height: 22px;
    overflow: hidden; }
    .header .sub-header .plus {
      padding: 0 5px; }
    .header .sub-header .letter {
      display: inline-block;
      -webkit-transform: translateY(-20px);
              transform: translateY(-20px);
      opacity: 0;
      -webkit-animation: delayed-letter-drop-down  2.5s linear forwards;
              animation: delayed-letter-drop-down  2.5s linear forwards; }
    .header .sub-header .letter:nth-child(1n) {
      -webkit-animation-delay: 0.05s;
              animation-delay: 0.05s; }
    .header .sub-header .letter:nth-child(2n) {
      -webkit-animation-delay: 0.1s;
              animation-delay: 0.1s; }
    .header .sub-header .letter:nth-child(3n) {
      -webkit-animation-delay: 0.15s;
              animation-delay: 0.15s; }
    .header .sub-header .letter:nth-child(4n) {
      -webkit-animation-delay: 0.2s;
              animation-delay: 0.2s; }
    .header .sub-header .letter:nth-child(5n) {
      -webkit-animation-delay: 0.25s;
              animation-delay: 0.25s; }
    .header .sub-header .letter:nth-child(6n) {
      -webkit-animation-delay: 0.3s;
              animation-delay: 0.3s; }
    .header .sub-header .letter:nth-child(7n) {
      -webkit-animation-delay: 0.35s;
              animation-delay: 0.35s; }
    .header .sub-header .letter:nth-child(8n) {
      -webkit-animation-delay: 0.4s;
              animation-delay: 0.4s; }
    .header .sub-header .letter:nth-child(9n) {
      -webkit-animation-delay: 0.45s;
              animation-delay: 0.45s; }
    .header .sub-header .letter:nth-child(10n) {
      -webkit-animation-delay: 0.5s;
              animation-delay: 0.5s; }
    .header .sub-header .letter:nth-child(11n) {
      -webkit-animation-delay: 0.55s;
              animation-delay: 0.55s; }
    .header .sub-header .letter:nth-child(12n) {
      -webkit-animation-delay: 0.6s;
              animation-delay: 0.6s; }
    .header .sub-header .letter:nth-child(13n) {
      -webkit-animation-delay: 0.65s;
              animation-delay: 0.65s; }
    .header .sub-header .letter:nth-child(14n) {
      -webkit-animation-delay: 0.7s;
              animation-delay: 0.7s; }
    .header .sub-header .letter:nth-child(15n) {
      -webkit-animation-delay: 0.75s;
              animation-delay: 0.75s; }
    .header .sub-header .letter:nth-child(16n) {
      -webkit-animation-delay: 0.8s;
              animation-delay: 0.8s; }
    .header .sub-header .letter:nth-child(17n) {
      -webkit-animation-delay: 0.85s;
              animation-delay: 0.85s; }
    .header .sub-header .letter:nth-child(18n) {
      -webkit-animation-delay: 0.9s;
              animation-delay: 0.9s; }
  .header img {
    width: 100%; }
  .header .path-navy {
    stroke-dasharray: 1500;
    stroke-dashoffset: 1500;
    -webkit-animation: draw-path-navy 2s cubic-bezier(1, 0, 0.84, 0.34) forwards;
            animation: draw-path-navy 2s cubic-bezier(1, 0, 0.84, 0.34) forwards; }
  .header .path-magenta {
    stroke-dasharray: 1500;
    stroke-dashoffset: 1500;
    -webkit-animation: draw-path-magenta 2s cubic-bezier(1, 0, 0.84, 0.34) forwards;
            animation: draw-path-magenta 2s cubic-bezier(1, 0, 0.84, 0.34) forwards; }
  .header .path-pink {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    -webkit-animation: draw-path-pink 2s cubic-bezier(1, 0, 0.84, 0.34) forwards;
            animation: draw-path-pink 2s cubic-bezier(1, 0, 0.84, 0.34) forwards; }
  .header .path-cerulean {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    -webkit-animation: draw-path-cerulean 2s cubic-bezier(1, 0, 0.84, 0.34) forwards;
            animation: draw-path-cerulean 2s cubic-bezier(1, 0, 0.84, 0.34) forwards; }

@-webkit-keyframes delayed-letter-drop-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px); }
  90% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes delayed-letter-drop-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px); }
  90% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@-webkit-keyframes draw-path-navy {
  0% {
    fill: rgba(30, 25, 80, 0); }
  95% {
    fill: rgba(30, 25, 80, 0);
    stroke-dashoffset: 0; }
  100% {
    stroke-dashoffset: 0;
    fill: #1e1950; } }

@keyframes draw-path-navy {
  0% {
    fill: rgba(30, 25, 80, 0); }
  95% {
    fill: rgba(30, 25, 80, 0);
    stroke-dashoffset: 0; }
  100% {
    stroke-dashoffset: 0;
    fill: #1e1950; } }

@-webkit-keyframes draw-path-magenta {
  0% {
    fill: rgba(246, 102, 114, 0); }
  95% {
    fill: rgba(246, 102, 114, 0);
    stroke-dashoffset: 0; }
  100% {
    stroke-dashoffset: 0;
    fill: #f66672; } }

@keyframes draw-path-magenta {
  0% {
    fill: rgba(246, 102, 114, 0); }
  95% {
    fill: rgba(246, 102, 114, 0);
    stroke-dashoffset: 0; }
  100% {
    stroke-dashoffset: 0;
    fill: #f66672; } }

@-webkit-keyframes draw-path-pink {
  0% {
    fill: rgba(237, 166, 185, 0); }
  95% {
    fill: rgba(237, 166, 185, 0);
    stroke-dashoffset: 0; }
  100% {
    stroke-dashoffset: 0;
    fill: #eda6b9; } }

@keyframes draw-path-pink {
  0% {
    fill: rgba(237, 166, 185, 0); }
  95% {
    fill: rgba(237, 166, 185, 0);
    stroke-dashoffset: 0; }
  100% {
    stroke-dashoffset: 0;
    fill: #eda6b9; } }

@-webkit-keyframes draw-path-cerulean {
  0% {
    fill: rgba(109, 153, 245, 0); }
  95% {
    fill: rgba(109, 153, 245, 0);
    stroke-dashoffset: 0; }
  100% {
    stroke-dashoffset: 0;
    fill: #6d99f5; } }

@keyframes draw-path-cerulean {
  0% {
    fill: rgba(109, 153, 245, 0); }
  95% {
    fill: rgba(109, 153, 245, 0);
    stroke-dashoffset: 0; }
  100% {
    stroke-dashoffset: 0;
    fill: #6d99f5; } }
  @media (max-width: 500px) {
    .header .sub-header {
      top: unset;
      left: 50%;
      bottom: -20px;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%); } }

.about {
  background: #FFA195; }
  .about .wrapper {
    padding: 100px 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .about .about-text {
    width: 30%; }
    .about .about-text h2 {
      margin-bottom: 15px;
      color: #1D184F; }
  .about .about-img {
    background-image: url("/public/assets/profile-line-art.svg");
    background-size: 240px;
    background-repeat: no-repeat;
    width: 250px;
    background-position: center;
    height: 300px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    mix-blend-mode: multiply;
    position: relative; }
    .about .about-img span {
      text-align: right;
      position: absolute;
      bottom: -30px;
      right: 0;
      font-size: 14px; }
    .about .about-img a {
      text-decoration: underline;
      text-align: right; }
  @media (max-width: 768px) {
    .about .wrapper {
      padding: 30px; }
    .about .flex {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
    .about .about-text {
      width: 80%;
      margin-bottom: 30px; } }
  @media (max-width: 500px) {
    .about .wrapper {
      padding: 0;
      margin: 0 20px; }
    .about .about-text {
      width: 100%; }
    .about .about-img {
      width: 100%; } }

.skills {
  background: #1D184F;
  padding: 240px 0; }
  .skills .skillsContainer {
    position: relative; }
  .skills h2 {
    margin-bottom: 50px;
    color: #F5D7DD;
    line-height: 0.9; }
  .skills .trend-arrow {
    position: absolute;
    max-width: 280px;
    left: 20px;
    bottom: -20px; }
  .skills h3 {
    margin: 10px 0 20px 0;
    font-size: 24px;
    color: #F5D7DD; }
  .skills .skills-lists {
    width: 60%; }
  .skills .skills-list img {
    width: 35px; }
  .skills .skills-list ul {
    padding-left: 0; }
  .skills li {
    font-family: 'Work Sans';
    font-size: 16px;
    padding: 2px 0;
    color: white; }
  @media (max-width: 992px) {
    .skills .skillsContainer.flex {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
    .skills .trend-arrow {
      left: initial;
      right: 0;
      bottom: initial;
      top: -10%;
      max-width: 200px; }
    .skills .skills-lists {
      width: 75%;
      -ms-flex-item-align: end;
          align-self: flex-end; } }
  @media (max-width: 768px) {
    .skills {
      padding: 100px 0; }
      .skills .skills-lists {
        width: 100%; } }
  @media (max-width: 600px) {
    .skills {
      padding: 70px 0; }
      .skills .trend-arrow {
        display: none; }
      .skills .skills-lists.flex {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; }
      .skills .skills-list {
        margin-bottom: 40px; } }

.projects {
  background: #6D99F5;
  padding: 120px 0 150px 0; }
  .projects h2 {
    color: #1D184F;
    text-align: center;
    margin-bottom: 50px; }

.projectExamples {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around; }
  .projectExamples article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 31%;
    margin-bottom: 2%; }
    .projectExamples article img {
      width: 100%; }
      .projectExamples article img:hover {
        cursor: pointer; }
    .projectExamples article ul {
      padding-left: 0; }
      .projectExamples article ul li {
        padding: 2px 0 0 10px; }
  .projectExamples .project-description {
    padding-right: 15px; }
  .projectExamples .project-link {
    display: inline-block;
    padding: 5px 10px;
    margin-top: 30px;
    font-size: 16px;
    text-decoration: underline;
    outline: 3px dotted transparent;
    text-align: center; }
    .projectExamples .project-link:nth-of-type(1) {
      margin-right: 15px; }
    .projectExamples .project-link:hover, .projectExamples .project-link:focus {
      outline: 3px dotted white; }
  .projectExamples h3 {
    margin: 25px 0 15px 0;
    font-size: 20px; }
  @media (max-width: 992px) {
    .projectExamples {
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start; }
      .projectExamples article {
        width: 50%;
        margin-bottom: 5%;
        padding: 10px; } }
  @media (max-width: 992px) {
    .projectExamples {
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start; }
      .projectExamples article {
        width: 50%;
        margin-bottom: 40px;
        padding: 10px; } }
  @media (max-width: 768px) {
    .projectExamples article {
      width: 100%; }
    .projectExamples .project-link {
      margin-top: 15px;
      padding-left: 0; } }

.experience {
  background: #F5D7DD; }
  .experience h2 {
    text-align: right;
    color: #1D184F; }
  .experience h3 {
    font-size: 20px;
    margin: 10px 0;
    color: #1D184F; }
  .experience h4 {
    color: #1D184F;
    font-size: 16px;
    margin: 5px 0;
    font-family: 'Work Sans';
    font-weight: 600; }
  .experience .job-history {
    width: 650px;
    border-left: 3px solid #F66672;
    padding-left: 70px; }
    .experience .job-history .job,
    .experience .job-history .school {
      margin: 40px 0;
      position: relative; }
      .experience .job-history .job::before,
      .experience .job-history .school::before {
        position: absolute;
        left: -92px;
        top: -5px; }
    .experience .job-history .job::before {
      content: url("../../../public/assets/icon-job.svg");
      width: 40px; }
    .experience .job-history .school::before {
      content: url("../../../public/assets/icon-school.svg");
      width: 45px; }
  .experience ul {
    list-style-type: disc;
    padding-left: 20px; }
  .experience li,
  .experience p {
    line-height: 1.4; }
  @media (max-width: 768px) {
    .experience .job-history {
      width: 100%; } }
  @media (max-width: 500px) {
    .experience .job-history {
      width: 95%;
      padding-left: 40px;
      margin-left: 20px; }
      .experience .job-history .job::before,
      .experience .job-history .school::before {
        left: -62px; } }

* {
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease; }

html {
  font-size: 14px; }

header,
section,
footer {
  margin: 12px; }

a {
  text-decoration: none;
  color: #212121; }
  a:focus {
    outline: 3px dotted white;
    outline-offset: 5px; }

img {
  max-width: 100%; }

.wrapper {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto; }

section {
  padding: 50px 0; }

ul {
  list-style-type: none;
  margin: 0; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.space-around {
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.text-center {
  text-align: center; }

.contact {
  position: relative;
  background: #1D184F; }
  .contact .subHeading {
    width: 60%; }
  .contact h2 {
    color: #F5D7DD; }
  .contact h3 {
    color: #6D99F5;
    margin: 10px 0;
    font-size: 24px; }
    .contact h3:nth-of-type(2) {
      margin-top: 40px; }
  .contact p,
  .contact a {
    color: white; }
  .contact a {
    text-decoration: underline; }
  .contact img {
    position: absolute;
    right: 150px;
    top: 90px;
    width: 200px; }

.contactContainer {
  padding: 150px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.copyright {
  padding: 0 10px 10px 10px; }

.rotate-animation {
  -webkit-animation: rotate 100s linear infinite;
          animation: rotate 100s linear infinite; }

@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@media (max-width: 992px) {
  .hidden-lg {
    display: none; } }

@media (max-width: 768px) {
  .hidden-md {
    display: none; }
  .contactContainer {
    padding: 80px 0; }
  .contactContainer.flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .contact .subHeading {
    margin-bottom: 20px; }
  .contact img {
    width: 160px;
    right: 60px;
    top: 30px; } }

@media (max-width: 500px) {
  .contact .subHeading {
    width: 100%;
    padding: 0 30px; } }
